/*@media (min-width: 1200px) {*/
 /*Navigation Toggle on Desktop Hover */
/*  .dropdown:hover .dropdown-menu {
      display: block;
      -webkit-animation: fadeInUp 400ms;
      animation: fadeInUp 400ms;
  }
}*/

/* md */
/*@media (min-width: 992px) and (max-width: 1199px) {*/
  
 /*Navigation Toggle on Desktop Hover */
/*  .dropdown:hover .dropdown-menu {
      display: block;
      -webkit-animation: fadeInUp 400ms;
      animation: fadeInUp 400ms;
  }*/

  /*.navbar-nav > li {
    margin-left: 10px;
  }

  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }


  .feature-wrap h2 {
    font-size: 18px;
  }

  .feature-wrap h3, 
  .single-services h3{
    font-size: 14px;
  }

  .tab-wrap .media .parrent.pull-left{
    clear: both;
    width: 100%;
  }

  .tab-wrap .media .parrent.media-body{
    clear: both;
  }

  ul.social_icons li{
    margin-right: 0;
  }

}*/


/* sm */
/*@media (min-width: 768px) and (max-width: 991px) {*/
  /* Make Navigation Toggle on Desktop Hover */
  /*.dropdown:hover .dropdown-menu {
      display: block;
      -webkit-animation: fadeInUp 400ms;
      animation: fadeInUp 400ms;
  }*/

/*  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-nav > li {
    margin-left: 0;
    margin-right: 10px;
  }*/

/*  #main-slider .carousel h1 {
    font-size: 25px;
  }*/

  /*#main-slider .carousel h2 {
    font-size: 20px;
  }

 .pull-left{
    clear: both;
    width: 100%;
  }
}*/

/* xs */
/*@media (max-width: 767px) {
  .container > .navbar-header, .container > .navbar-collapse{
    margin-left: 0;
  }

  .navbar-nav > li {
    padding-bottom: 0;
  }*/

/*  #main-slider .carousel h1 {
    font-size: 25px;
  }*/

 /* #main-slider .carousel h2 {
    font-size: 16px;
  }
*/
/*  .feature-wrap h2 {
    font-size: 18px;
  }
*/
/*  .feature-wrap h3 {
    font-size: 14px;
  }*/


  /*.pull-left {
    clear: both;
  }


  .nav-tabs > li.active > a:after{
    display: none;
  }

  #footer .col-sm-6{
      text-align:center;
  }
  
   #footer .pull-right{
      float: none !important;
  }
  
  
  ul.social_icons li{
    margin-right: 0;
  }

  .post_reply_comments {
    padding-left: 20px;
  }    

}*/

