header{		
	.menu{
		background-color: #001837;
		width: 100%;

	.menulist a{
		font: 16px Georgia;	
		font-weight: bolder;		
		color: white;
		border-radius: 40px;		
		margin-right: 10px;		
		transition: 1s;
		margin-bottom: 10px;
		text-align: center;
		&:hover{
			background-color: #72231F;
			color: white;
			box-shadow: 5px 5px 10px white;
			}
		}

	.active{
		background-color: #72231F;
		box-shadow: 5px 5px 10px white;
	}

	.logo{	
		height: 80px;
		margin-left: 26px;
		box-shadow: 5px 5px 15px white;				
		}
	button span{
		font: 50px Georgia;
		font-weight: bolder;		
		color: #40729B;	
		text-align: center;		
		}			
	}	
}
							// <!-- 				HEADER END 						-->



.contact{	
	text-align: center;
	background: linear-gradient(#001837, #FFFFFF);		
	ul{
		margin-top: 50px;
		li{
			font-size: 25px;
			color: #001837;
			font-weight: bolder;
			list-style-type: none;	
			margin-top: 10px;	
			box-shadow: -5px -5px 15px #72231F;
			text-shadow: 5px 5px 15px white;
			padding-top: 20px;
			img{
				width: 50px;
				height: 50px;
				}
			}
		}	
}
.rights{		
		background: linear-gradient(#001837, white);		
		span{
			font-size: 14px;
			font-weight: bolder;
			color: #001837;
		}
	}	

footer{
	position: absolute;
	bottom: 0px;
}