header{		
	.menu{
		background-color: #001837;
		width: 100%;

	.menulist a{
		font: 16px Georgia;	
		font-weight: bolder;		
		color: white;
		border-radius: 40px;		
		margin-right: 10px;		
		transition: 1s;
		margin-bottom: 10px;
		text-align: center;
		&:hover{
			background-color:#72231F;
			color: white;
			box-shadow: 5px 5px 10px white;
			}
		}

	.logo{	
		height: 80px;
		margin-left: 26px;
		box-shadow: 5px 5px 15px white;				
		}
	button span{
		font: 50px Georgia;
		font-weight: bolder;		
		color: #40729B;	
		text-align: center;		
		}			
	}	
}
							// <!-- 				HEADER END 						-->


.video{
	text-align: center;	
}	
	iframe{
		border: none;
		text-align: center;	
		height: 300px;	
	}

.thumb img {
            -webkit-filter: grayscale(0);
            filter: none;
            border-radius: 5px;
            background-color: #fff;
            border: 1px solid #ddd;
            padding: 5px; 
            width: 150px;
            height: 150px;
        }
 
        .thumb img:hover {
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
        }
 
        .thumb {
            padding: 5px;
            text-align: center;
        }	
							