header .menu {
  background-color: #001837;
  width: 100%;
}

header .menu .menulist a {
  font: 16px Georgia;
  font-weight: bolder;
  color: white;
  border-radius: 40px;
  margin-right: 10px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  margin-bottom: 10px;
  text-align: center;
}

header .menu .menulist a:hover {
  background-color: #72231F;
  color: white;
  -webkit-box-shadow: 5px 5px 10px white;
  box-shadow: 5px 5px 10px white;
}

header .menu .active {
  background-color: #72231F;
  -webkit-box-shadow: 5px 5px 10px white;
  box-shadow: 5px 5px 10px white;
}

header .menu .logo {
  height: 80px;
  margin-left: 26px;
  -webkit-box-shadow: 5px 5px 15px white;
  box-shadow: 5px 5px 15px white;
}

header .menu button span {
  font: 50px Georgia;
  font-weight: bolder;
  color: #40729B;
  text-align: center;
}

.second img {
  width: 500px;
  height: 350px;
  margin-top: 50px;
}

.section1, .section2 {
  text-align: center;
  margin-top: 10px;
}

.section1 h1, .section2 h1 {
  font-size: 30px;
  font-weight: bolder;
  color: #001837;
  text-align: center;
  margin-top: 30px;
  border: 4px solid #72231F;
  border-radius: 30px;
  padding: 10px;
  text-shadow: 5px 5px 20px #001837;
}

.titan {
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#72231F));
  background: -webkit-linear-gradient(#FFFFFF, #72231F);
  background: -o-linear-gradient(#FFFFFF, #72231F);
  background: linear-gradient(#FFFFFF, #72231F);
  margin-top: 30px;
}

.titan p {
  font-size: 16px;
  font-weight: bolder;
  line-height: 20px;
}

.titan img {
  width: 500px;
  height: 300px;
  margin-bottom: 20px;
}

.penopl {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#72231F));
  background: -webkit-linear-gradient(#FFFFFF, #72231F);
  background: -o-linear-gradient(#FFFFFF, #72231F);
  background: linear-gradient(#FFFFFF, #72231F);
  margin-top: 30px;
}

.penopl p {
  font-size: 16px;
  font-weight: bolder;
  line-height: 20px;
  text-align: center;
}

.penopl li {
  font-weight: bolder;
}

.penopl img {
  width: 600px;
  height: 232px;
  margin-bottom: 20px;
}

.penoplast h3 {
  font-size: 25px;
  color: #001837;
  text-align: center;
  margin-top: 30px;
}

.penoplast p {
  font-size: 15px;
  margin-top: 10px;
  text-align: justify;
  padding: 10px;
}

footer {
  height: 260px;
  background-color: #001837;
  margin-top: 20px;
}

footer h1 {
  font-size: 25px;
  color: white;
  padding-top: 30px;
  font-weight: bolder;
}

footer ul {
  list-style-type: none;
}

footer li {
  padding-top: 10px;
}

footer img {
  width: 40px;
  height: 40px;
}

footer span {
  color: white;
  font-size: 15px;
}

footer .map {
  height: 220px;
  margin-top: 30px;
}

footer .rights {
  background: -webkit-gradient(linear, left top, left bottom, from(#001837), to(white));
  background: -webkit-linear-gradient(#001837, white);
  background: -o-linear-gradient(#001837, white);
  background: linear-gradient(#001837, white);
}

footer .rights span {
  font-size: 14px;
  font-weight: bolder;
  color: #001837;
}
